# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# Database
*.db

# Frontend
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Uploads
uploads/

# Alembic cache
alembic/versions/__pycache__/